.container {
  font-size: 24px;
  text-align: center;
  font-family: font-family: 'Montserrat', sans-serif;
  color: #4B5569;
}




/*need to add media query to make the font smaller as the page gets smaller and i need to fix the banner*/
