/*Styles for my resume*/

/*sets the font and style for everything in the body*/
BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}

/*container id*/
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*stylizes my name at the top*/
#name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  color:#33485e;
  border-bottom: 1px solid #33485e;
  border-width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*my title*/
#title {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

/*section titles*/
.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  font-weight:400;
  margin: 20 0 10;
  width: 70%;
  min-width: 300px;
}

/*job titles*/
.jobtitle {
  font-size:1.5em;
  font-weight:600;
}

/*job organization*/
.organization {
  font-size:1.25em;
  font-weight:400;
}

/*job dates*/
.date {
  font-size:1em;
  font-weight:400;
  font-style: italic;
  margin-top: 2px;
}

/*list items*/
ul {
  font-size:1em;
}

/*job descriptions*/
.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*contact info ul*/
#menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/*contact info ul*/
#menu .contact {
  display: inline;
}

/*education section*/
#degrees {
  margin-top: 5px;
}

/*skills section*/
#do {
  margin-top: 5px;
}

/*mission statement*/
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
